{% extends "layout.html" %}
{% block content %}
<main role="main" class="container">
    <!-- Title -->
    <h1>
        About me
    </h1>
    <div class="line-h1"></div>


    <div class="row mb-3">
        <div class="col-md-3 short-text-800">
            <img src="{{ url_for('static', filename='images/cheese.webp') }}" class="img-thumbnail rounded img-fluid mx-auto" alt="Ewerton making cheese" width="300px" height="300px" />
            <div class="caption center-block">Making cheese in the lab years ago</div>
        </div>
        <div class="col-md-9">
            <p>
                Hi, my name is Ewerton. I have 25 years old and I live in Brazil <img src="{{ url_for('static', filename='/icons/brazil.svg') }}" class="full-text" width="16" height="16"> .
                My favorite hobby is to learn new things. I like to code, especially with Python, but I can make some <em>Hello Worlds</em> in C++, Java, Javascript, C, MATLAB, R...
                With StackOverflow and Youtube, everything is possible.
            </p>
            <p>
                I don't like front-end. To be honest, I spent almost a year trying to force myself to make this website. Dealing with logic at the back-end and managing data pipelines is way nicer, but I still have
                a lot to learn. As of this writing, I consider myself a Data Engineer, but I think many other hats fit me, and I love this feeling.
            </p>
            <p>
                I started to code when I was in college doing my Chemical Engineering classes. I had to spend two semesters learning MATLAB,
                and although it helped me grasp some concepts, it is the last language that I would use for anything, so... don't learn it, Python is better.
            </p>
        </div>
        <div class="col-md-3 full-text-800">
            <img src="{{ url_for('static', filename='images/cheese.webp') }}" class="img-thumbnail rounded img-fluid mx-auto" alt="Ewerton making cheese" width="300px" height="300px" />
            <div class="caption center-block">Making cheese in the lab years ago</div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <a href="{{ url_for('get_flyer') }}" target="_blank" class="link-primary"><img src="{{ url_for('static', filename='images/translation_flyer.webp') }}" class="img-thumbnail rounded img-fluid mx-auto" alt="Translation flyer" width="300px" height="430px" /></a>
            <div class="caption center-block">The flyer that I sent</div>
        </div>
        <div class="col-md-9">
            <p>
                My first professional experience happenned with this company. I started translating things from English, French, and Spanish to Portuguese.
                In the beginning, the goal was just to learn a new language, but after some time, I saw an opportunity to grow and I took it.
                With the awesome help of Python, I have created a scraper to get developers and companies' emails from Play Store and I send them my flyer.
                I know it may be cumbersome, but email marketing is effective and really cheap, so I do it, but limit myself to one email per domain.
                Oh, by the way, I'm good with Photoshop, it's an awesome tool that everyone should learn!
            </p>
            <p>
                The business is growing, I have some contracts and I am getting some money.
                It's really nice to be paid in dollars, especially when your currency is 5 times cheaper than it.
                If you want some details, I've already translated about 200,000 words! Just for comparison, the New Testament has 184,600.
                In the end, you just need to be competent.
            </p>
        </div>
    </div>

    <p>
        Some time after I created the company, I got a job as a Data Analyst from a company called BeGrowth. I had to extract reports from our ads that were running in Google and Facebook Ads,
        then merge them with some other reports to finally show the results to my former boss so he could change whatever needed to be changed.
        It was a boring task to manually merge those files, so I created a Python script that did everything in 3 minutes and saved myself 57 minutes/day, yay
        <img src="{{ url_for('static', filename='/icons/clock.svg') }}" class="full-text" width="16" height="16">.
    </p>
    <p>
        I started helping them manage those ads. It was a nice experience, I learned some concepts in Marketing, Google Tag Manager, Analytics,
        and some other tools, and helped them grow 10 times what they were investing.
    </p>

    <div class="row">
        <div class="col-md-10">
            <p>
                After 6 months, I was promoted to Data Engineer. My first task was to make my script run on Cloud. I used a VM in GCP, running a Docker container
                that had an Airflow image, basically. I created scripts that, every hour, collected reports from Facebook, Google Ads, Google Ad Manager and Google Analytics,
                then moved them to partitioned tables in Big Query - we used it as our Datalake and Datawarehouse. With the data gathered and stored,
                I started to make dashboards using Google Data Studio, but tried Power BI, as well.
            </p>
            <p>
                In June 2021, I started working for BlueShift. I'm working for a big financial company with 20 Data Engineers in the team trying to learn everything that I didn't use till now.
                When I am not working there, I run this company trying to increase its' size while maintaining the quality that is tied to this awesome brand.
                To conclude, I am an awesome dude that really likes life and looks forward to the bright future that arises.
            </p>
        </div>
        <div class="col-md-2 full-text-800" id="random_gif">
            <div data-iframe-width="150" data-iframe-height="250" data-share-badge-id="ac64f6d1-584e-46b9-879a-1bc81944bfbb" data-share-badge-host="https://www.credly.com"></div>
            <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
            <div class="caption center-block">1<sup>st</sup> certification :)</div>
        </div>
        <p>
            Thanks for reading! If you want, you can write me at:
            <img src="{{ url_for('static', filename='/icons/envelope.svg') }}" class="full-text" width="16" height="16">
            <strong><a href="mailto:ewerton@ewerton.com.br" class="link-primary">ewerton@ewerton.com.br</a></strong>
        </p>
    </div>
</main>
{% endblock content %}
