{% extends "layout.html" %}
{% block content %}
<!-- Title -->
<h1>
    Contact
</h1>
<div class="line-h1"></div>

<div>
    <p>If you want to send me a message, you can use this form. I will probably read it in under 24 hours.</p>
</div>

<!--Name-->
<div class="mt-5 mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name">
</div>

<!--Email-->
<div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="email@example.com">
</div>

<!--TextArea-->
<div class="mb-3">
    <label for="message" class="form-label">Message</label>
    <textarea class="form-control" id="message" rows="3"></textarea>
</div>

<!--SendFile-->
<div class="mb-5">
    <label for="file" class="form-label">Send file</label>
    <input class="form-control" type="file" id="file" multiple>
</div>

<!--Submit-->
<button type="button" class="btn btn-secondary d-grid col-2 mx-auto" disabled>Soon...</button>

{% endblock content %}