{% extends "layout.html" %}
{% block content %}
<!-- Title -->
<h1>
    <span class="full-text">Ewerton Solutions</span>
    <span class="short-text">Ewerton</span>
</h1>
<div class="line-h1"></div>

<!-- First block -->
<div class="row">
    <div class="col-md-3">
        <img src="{{ url_for('static', filename='images/me.webp') }}" class="img-thumbnail rounded img-fluid mx-auto" alt="Photo of Ewerton" width="300px" height="300px" />
        <div class="caption center-block">Me :)</div>
    </div>
    <div class="col-md-9">
        <p>Hey, welcome to my webpage!</p>
        <p>For now, this is just a website under construction, but one day it will be a great company page 😃. Feel free to navigate through it, though.</p>
        <div class="form-check"><input class="form-check-input" type="checkbox" checked> <label class="form-check-label">Data Engineer</label></div>
        <div class="form-check"><input class="form-check-input" type="checkbox" checked> <label class="form-check-label">Data Scientist</label></div>
        <div class="form-check"><input class="form-check-input" type="checkbox" checked> <label class="form-check-label">Data Analyst</label></div>
        <div class="form-check"><input class="form-check-input" type="checkbox" checked> <label class="form-check-label">Python Developer</label></div>
        <div class="form-check"><input class="form-check-input" type="checkbox" checked> <label class="form-check-label">Chemical Engineer</label></div>
        <div class="form-check"><input class="form-check-input" type="checkbox" checked> <label class="form-check-label">Portuguese Translator</label></div>
        <div class="form-check"><input class="form-check-input" type="checkbox" checked> <label class="form-check-label">Awesome Dude</label></div>
    </div>
</div>

<p class="mt-5">
    If you are looking for my CV, just click <strong><a href="{{ url_for('get_pdf', lang='en') }}" target="_blank" class="link-primary">HERE</a></strong> for the English version,
    or <strong><a href="{{ url_for('get_pdf', lang='pt') }}" target="_blank" class="link-primary">HERE</a></strong> for the Portuguese one.
</p> By the way, <strong><a href="https://www.linkedin.com/in/ewertones/" target="_blank" class="link-primary">HERE</a></strong> is my LinkedIn page.

{% endblock content %}