{% extends "layout.html" %}
{% block content %}

<div class="container mt-5">
    <div class="align-items-center onetwo-block">
        <div>
            <h2>Let me help you!</h2>
            <h5 class="mt-5 mb-5">Are you looking for Translators,<br />Data Engineers, Developers<br />or Analysts to solve a problem<br />or improve some process?<br />Well, here I am!</h5>
            <a href="{{ url_for('services') }}" class="btn btn-primary btn-lg d-grid rounded-pill mx-auto half-button">Services</a>
        </div>
        <div>
            <div class="img-brasil">
                <img src="{{ url_for('static', filename='images/brasil-code.webp') }}" alt="" width="400px" height="400px">
            </div>
        </div>
    </div>
</div>

<div class="bg-gray mt-5 mb-5 pt-5 pb-5">
    <div class="container onetwo-block">
        <h4 class="mtb-50"><span id="words-number" class="big-blue-number">200000</span><br />words translated!</h4>
        <h4 class="mtb-50"><span id="projects-number" class="big-blue-number">10</span><br />projects delivered!</h4>
    </div>
</div>

<div class="container text-center mtb-50">
    <div class="row mb-5">
        <h2>HALL OF FAME</h2>
    </div>

    <div class="testimonials">
        <div class="card testimonial">
            <div class="card-hall-body">
                <a href="https://play.google.com/store/apps/details?id=com.quickturtle.EmployeeSurvival_en" target="_blank">
                    <img src="{{ url_for('static', filename='icons/clients/dont-get-fired.webp') }}" alt="" width="170" height="170">
                </a>
                <h5 class="card-hall-title">Don't get fired</h5>
                <cite class="fst-italic card-text">"I did not know you'd give me so quickly. Thank you very much!"</cite>
            </div>
        </div>
        <div class="card testimonial">
            <div class="card-hall-body">
                <a href="https://play.google.com/store/apps/details?id=com.NNGames.starchef2" target="_blank">
                    <img src="{{ url_for('static', filename='icons/clients/star-chef-2.webp') }}" alt="" width="170" height="170">
                </a>
                <h5 class="card-hall-title">Star Chef 2</h5>
                <cite class="fst-italic card-text">"Hi Ewerton, thanks for the translations."</cite>
            </div>
        </div>
        <div class="card testimonial">
            <div class="card-hall-body">
                <a href="https://store.steampowered.com/app/655740/Tallowmere_2_A_Maldio_dos_Gatinhos/" target="_blank">
                    <img src="{{ url_for('static', filename='icons/clients/tallowmere-2.webp') }}" alt="" width="170" height="170">
                </a>
                <h5 class="card-hall-title">Tallowmere 2</h5>
                <cite class="fst-italic card-text">"Awesome, thanks very much again as always! Appreciate your work."</cite>
            </div>
        </div>
        <div class="card testimonial">
            <div class="card-hall-body">
                <a href="https://play.google.com/store/apps/details?id=com.VenomizedArt.Mindcell" target="_blank">
                    <img src="{{ url_for('static', filename='icons/clients/mindcell.webp') }}" alt="" width="170" height="170">
                </a>
                <h5 class="card-hall-title">Mindcell</h5>
                <cite class="fst-italic card-text">"Thank you, Ewerton! It's really nice to work with you!"</cite>
            </div>
        </div>
        <div class="card testimonial">
            <div class="card-hall-body">
                <a href="https://play.google.com/store/apps/details?id=com.panicensuessoftware.tailendcharlie" target="_blank">
                    <img src="{{ url_for('static', filename='icons/clients/tail-gun-charlie.webp') }}" alt="" width="170" height="170">
                </a>
                <h5 class="card-hall-title">Tail Gun Charlie</h5>
                <cite class="fst-italic card-text">"Thanks for the quick work!"</cite>
            </div>
        </div>
        <div class="card testimonial">
            <div class="card-hall-body">
                <a href="https://play.google.com/store/apps/details?id=com.guycorp.rpg.games.idle.merge.games" target="_blank">
                    <img src="{{ url_for('static', filename='icons/clients/mergy.webp') }}" alt="" width="170" height="170">
                </a>
                <h5 class="card-hall-title">Mergy</h5>
                <cite class="fst-italic card-text">"Hello Ewerton, that was fast! It's perfect, thanks!"</cite>
            </div>
        </div>
        <div class="card testimonial">
            <div class="card-hall-body">
                <a href="https://play.google.com/store/apps/details?id=com.filavision.brt" target="_blank">
                    <img src="{{ url_for('static', filename='icons/clients/pokerbank.webp') }}" alt="" width="170" height="170">
                </a>
                <h5 class="card-hall-title">Poker Tracker</h5>
                <cite class="fst-italic card-text">Hey Ewerton! Looks amazing, thank you very much!</cite>
            </div>
        </div>
        <div class="card testimonial">
            <div class="card-hall-body">
                <a href="https://play.google.com/store/apps/details?id=com.filavision.sa" target="_blank">
                    <img src="{{ url_for('static', filename='icons/clients/spotadvisor.webp') }}" alt="" width="170" height="170">
                </a>
                <h5 class="card-hall-title">Spotadvisor</h5>
                <cite class="fst-italic card-text">Wow, you are really fast, thank you!</cite>
            </div>
        </div>
        <div class="card testimonial">
            <div class="card-hall-body">
                <a href="https://play.google.com/store/apps/details?id=com.cloudcade.shopheroesLegends" target="_blank">
                    <img src="{{ url_for('static', filename='icons/clients/shop-heroes-legends.webp') }}" alt="" width="170" height="170">
                </a>
                <h5 class="card-hall-title">Shop Heroes</h5>
                <cite class="fst-italic card-text">In progress...</cite>
            </div>
        </div>
    </div>
</div>

<!-- Script to animate numbers -->
<script>
    function animateValue(id, start, end, duration) {
        var obj = document.getElementById(id);
        var range = end - start;
        var stepTime = Math.abs(Math.floor(duration / range));
        var startTime = new Date().getTime();
        var endTime = startTime + duration;
        var timer;

        function run() {
            var now = new Date().getTime();
            var remaining = Math.max((endTime - now) / duration, 0);
            var value = Math.round(end - (remaining * range));
            obj.innerHTML = '+' + (new Intl.NumberFormat('en-US').format(value));
            if (value == end) {
                clearInterval(timer);
            }
        }

        timer = setInterval(run, stepTime);
        run();
    }

    animateValue("words-number", 0, 200000, 4000);
    animateValue("projects-number", 0, 10, 5000);
</script>

{% endblock content %}