{% extends "layout.html" %}
{% block content %}
<!-- Title -->
<h1>
    Vagas
</h1>
<div class="line-h1"></div>

<!-- First block -->
<div>
    <p>
        Estou precisando de ajuda com umas tarefas. Se tiver interesse, não deixe de se candidatar.
    </p>
</div>

<div id="vagas-block">
    <div class="d-flex justify-content-end">
        <button class="btn btn-success job-status-btn" type="button" data-bs-toggle="collapse" data-bs-target=".vagaAberta" data-parent="#vagas-block">
            ABERTAS
        </button>
        <button class="btn btn-secondary job-status-btn" type="button" data-bs-toggle="collapse" data-bs-target=".vagaFechada" data-parent="#vagas-block">
            ENCERRADAS
        </button>
    </div>
    <div class="vagas vagaAberta show">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between">
                    <span class="full-text">Tradutor Inglês/Português</span>
                    <span class="short-text">Tradutor Inglês</span>
                    <div class="job-number">#02</div>
                </h4>
                <p class="card-text">
                    Preciso de alguém com conhecimento em inglês para traduzir uma quantidade grande de textos do inglês para o português.
                     Os arquivos serão enviados como uma tabela do Excel e podem ser concluídos por lá ou usando qualquer outra ferramenta.
                </p>
                <a target="_blank" href="mailto:ewerton@ewerton.com.br?subject=Tradutor%20Ingl%C3%AAs%2FPortugu%C3%AAs&body=Opa%2C%20e%20a%C3%AD%2C%20Ewerton!%0D%0A%0D%0AVi%20aquela%20vaga%20de%20Tradutor%20Ingl%C3%AAs%2FPortugu%C3%AAs%20no%20site%20e%20tenho%20interesse.%0D%0A%0D%0ADeixei%20anexo%20o%20meu%20curr%C3%ADculo.%0D%0A%0D%0AAtt%2C" class="btn btn-primary">Tenho interesse</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between">
                    <span class="full-text">Desenvolvedor Python Jr.</span>
                    <span class="short-text">Dev. Python Jr.</span>
                    <div class="job-number">#04</div>
                </h4>
                <p class="card-text">
                    Preciso de alguém para me ajudar a lidar com umas demandas relacionadas à extração, coleta e armazenamento de dados
                     advindos de algumas plataformas e posterior criação de dashboards de BI.
                </p>
                <a target="_blank" href="mailto:ewerton@ewerton.com.br?subject=Desenvolvedor%20Python%20Jr.&body=Opa%2C%20e%20a%C3%AD%2C%20Ewerton!%0D%0A%0D%0AVi%20aquela%20vaga%20de%20Desenvolvedor%20Python%20Jr.%20no%20site%20e%20tenho%20interesse.%0D%0A%0D%0ADeixei%20anexo%20o%20meu%20curr%C3%ADculo.%0D%0A%0D%0AAtt%2C" class="btn btn-primary">Tenho interesse</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between">
                    <span class="full-text">Desenvolvedor Front-end Jr.</span>
                    <span class="short-text">Dev. Front-end Jr.</span>
                    <div class="job-number">#05</div>
                </h4>
                <p class="card-text">
                    Estou meio sem tempo para dar uma repaginada no site e gostaria que alguém continuasse de onde parei.
                     O site foi construído com o básico de HTML/CSS/Javascript e o framework feito em Flask.
                </p>
                <a target="_blank" href="mailto:ewerton@ewerton.com.br?subject=Desenvolvedor%20Front-end%20Jr.&body=Opa%2C%20e%20a%C3%AD%2C%20Ewerton!%0D%0A%0D%0AVi%20aquela%20vaga%20de%20Desenvolvedor%20Front-end%20Jr.%20no%20site%20e%20tenho%20interesse.%0D%0A%0D%0ADeixei%20anexo%20o%20meu%20curr%C3%ADculo.%0D%0A%0D%0AAtt%2C" class="btn btn-primary">Tenho interesse</a>
            </div>
        </div>
    </div>
    <div class="vagas vagaFechada collapse">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between">
                    <div>Assistente de Marketing</div>
                    <div class="job-number">#01</div>
                </h4>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var $vagas = $('#vagas-block');
        $vagas.on('show.bs.collapse','.vagas', function() {
            $vagas.find('.show').collapse('hide');
        });
    </script>
</div>
{% endblock content %}