{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1> Services</h1>
    <div class="line-h1"></div>

    <div class="">
        <p>
            I provide a whole range of services, which you can see below.<br />
            If you need some sort of custom solution, feel free to contact me so we can discuss it.
        </p>
        <p>
            Here you will find one of the best prices on the market, for the best quality available.<br />
            Count on me and my team to fulfill all your needs.
        </p>
    </div>

    <div id="service-block">
        <div class="d-flex justify-content-end">
            <button class="btn btn-info status-btn" id="translationButton" type="button" data-bs-target=".translation" data-parent="#service-block">
                Translation & Localization
            </button>
            <button class="btn btn-info status-btn" id="dataEngineeringButton" type="button" data-bs-target=".dataEngineer" data-parent="#service-block">
                Data Engineering
            </button>
        </div>
        <div class="services translation">
            <div class="card card-translation">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between">
                        <span>Software & Games</span>
                    </h4>
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col-md-1 text-center">
                            <img src="{{ url_for('static', filename='/icons/nes.svg') }}" width="64" height="64">
                        </div>
                        <div class="col-md-11">
                            <p class="card-text">
                                If you have a software, game, or app that needs localization, we can do it for you. Top-notch quality to make your product connect with your client. We can do a one-time only thing, or something more continuous, so in every update, we will be there to assist you. You can send your file in whatever format, and we will deal with it.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-translation">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between">
                        <span>Websites & Documents</span>
                    </h4>
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col-md-1 text-center">
                            <img src="{{ url_for('static', filename='/icons/website.svg') }}" width="64" height="64">
                        </div>
                        <div class="col-md-11">
                            <p class="card-text">
                                If you need to translate a technical document, scientific articles, books, or something more cultural related, we are here to help you. We have expertise in a great range of fields, including IT, Chemistry, Engineering, Games, Law, and many others. For something simple as one-page websites to complex 300-pages manuals. Count on us.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-translation">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between">
                        <span>Audio & Video</span>
                    </h4>
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col-md-1 text-center">
                            <img src="{{ url_for('static', filename='/icons/movie.svg') }}" width="64" height="64">
                        </div>
                        <div class="col-md-11">
                            <p class="card-text">
                                Looking to produce a voiceover in Portuguese? We can record whatever you need using native speakersand create audio files for videos, games, and apps. If you have a video, we canmake captions, create subtitles, synchronizing andproofreading everything.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-translation">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between">
                        <span>Testing Services</span>
                    </h4>
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col-md-1 text-center">
                            <img src="{{ url_for('static', filename='/icons/magnifier.svg') }}" width="64" height="64">
                        </div>
                        <div class="col-md-11">
                            <p class="card-text">
                                If what you need is some sort of proofreading, testing, and quality assurance, we can help. We will play your game; find UI/UX problems; fix grammar, spelling, and punctuation errors; change numbers, symbols, dates, and units when any inconsistency is found; improve cultural and geographical mistakes. Whatever you need, for how long you want us to do it.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="services dataEngineer">
            <div class="card card-dataEngineer">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between">
                        <span>Build & Fix Pipelines</span>
                    </h4>
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col-md-1 text-center">
                            <img src="{{ url_for('static', filename='/icons/server.svg') }}" width="64" height="64">
                        </div>
                        <div class="col-md-11">
                            <p class="card-text">
                                We can deal with yourdata pipeline, creating databases, running import/export jobs, and orchestratingtasks. For now, we are more knowledgeable with Google Cloud Products but givenenough time, we can deal with other services, as AWS, Azure, and similars.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-dataEngineer">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between">
                        <span>Programming</span>
                    </h4>
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col-md-1 text-center">
                            <img src="{{ url_for('static', filename='/icons/code.svg') }}" width="64" height="64">
                        </div>
                        <div class="col-md-11">
                            <p class="card-text">
                                If you need to do some boring manual task, why don't you explain that to us and we code a script to do that for you? Same (or even better) quality, for a one-time price item that you can use and reuse as much as you like. We can also create supervised and unsupervised machine learning models for your data that provide insights to your dashboards.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-dataEngineer">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between">
                        <span>Dashboards</span>
                    </h4>
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col-md-1 text-center">
                            <img src="{{ url_for('static', filename='/icons/chart.svg') }}" width="64" height="64">
                        </div>
                        <div class="col-md-11">
                            <p class="card-text">
                                If you have a greatamount of data and just doesn't know what to do with it, count on us toexplore, analyze and build a great dashboard for you and your team to consume andoptimize your results. We will use specialized tools like Google Data Studio, or PowerBI to build it and customize them to fit your company's style.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#service-block').on('click', 'button', function () {
                    var target = $(this).data('bsTarget');
                    var notTarget = target === '.dataEngineer' ? '.translation' : '.dataEngineer';
                    if ($(target).is(":visible") && $(notTarget).is(":visible")) {
                        $(notTarget).hide();
                    } else if ($(target).is(":visible") && $(notTarget).is(":hidden")) {
                        $(notTarget).show();
                    } else {
                        $(target).show();
                        $(notTarget).hide();
                    }
                });
            });
        </script>
    </div>
</div>
{% endblock content %}