header {
    margin: 0 -30px 0 -30px;
}

nav {
    background-color: #2cabe0;
    padding: 0 !important;
}

#logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-primary {
    background-color: #2cabe0;
    border-color: #2cabe0;
}

#translationButton {
    background-color: #AACCB1;
    border-color: #AACCB1;
}

#dataEngineeringButton {
    background-color: #68B3AF;
    border-color: #68B3AF;
}

.card-translation {
    border: 3px solid #AACCB1;
}

.card-dataEngineer {
    border: 3px solid #68B3AF;
}

.card-text {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2cabe0;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
}

/* END - SCROLLBAR */

body {
    background-color: #F9FFFF;
    font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

main {
    max-width: 1000px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 5px;
    padding: 0;
    color: #444;
    line-height: 1.3;
}

h1 {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
}

h2 {
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
}

h4 {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    line-height: 1.7;
}

video {
    max-width: 100%;
}


footer {
    text-align: center;
    color: darkgray;
    margin: 20px;
    z-index: -999;
    width: 100%;
    bottom: 0;
}

.nav-item {
    margin-left: 40px;
    margin-top: 10px;
    color: #ffffff !important;
    font-weight: 500;
}

.container-fluid {
    max-width: 1000px;
    padding: 0;
}

.navbar-toggler {
    width: 100%;
}

.line-h1, .line-h2 {
    display: block;
    height: 4px;
    margin: 0 auto 40px auto;
    background-image: radial-gradient(circle, rgba(65,108,177,1) 0%, rgba(252,209,17,1) 35%, rgba(19,87,40,1) 100%);
}

.line-h1 {
    width: 50%;
}

.line-h2 {
    width: 17%;
}

.form-check {
    margin: 0 0 12px 0;
}

.caption {
    text-align: center;
    color: darkgray;
    font-style: italic;
}

.card {
    margin-top: 20px;
}

.job-status-btn {
    margin-left: 10px;
}

.job-number {
    color: #c7c7c7
}

.short-text, .short-text-800 {
    display: none;
}

.card-title {
    margin-top: 0;
}

@media screen and (max-width: 1000px) {
    body {
        margin-left: 30px;
        margin-right: 30px;
    }

    .short-text {
        display: inline-block;
    }

    .full-text {
        display: none;
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .line-h2 {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 800px) {
    .caption {
        display: none;
    }

    #random_gif {
        max-width: 100%;
        height: auto;
    }

    img {
        display: block;
    }

    .short-text-800 {
        display: inline-block;
    }

    .full-text-800 {
        display: none;
    }
}