body {
    max-width: 1000px;
    margin: 30px auto;
    font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    color: #444;
    line-height: 1.3;
}

h1 {
    font-weight: 800;
    text-align: center;
    margin: 25px;
}

h2 {
    font-weight: 700;
    margin: 40px 0 40px 0;
}

h4 {
    font-weight: 500;
    margin: 20px 0 20px 0;
}

ul {
    line-height: 1.7;
}

.form-check {
    margin: 0 0 12px 0;
}

div {
    margin: 0 0 20px 0;
}

.caption {
    text-align: center;
    color: darkgray;
    font-style: italic;
}
